.table_header{
    background-color:#fdfdfd;
}
.box{
    box-shadow: 6px 6px 12px #bebebe,-6px -6px 12px #fff!important;
    border-radius: 50%!important;
    width: 5.5rem;
    height: 5.5rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.btn-wrapper{
    display: none;
}
.box:hover .btn-wrapper{
    display: flex;
    position: absolute;
    flex-direction: column;
    font-size: 11px;
    background-color: #e6e7ee;
    color: #3b5999;
    border-color: #d1d9e6;
    border: none;
    cursor: pointer;
    border-radius: 50%!important;
    width: 5.5rem;
    height: 5.5rem;
    align-items: center;
    justify-content: center;
}
.btn-wrapper button{
    margin: 3px;
    box-shadow: none;
    border: none;
    background: #696e71 ;
    color: #fff;
    border-radius: 5px;
    padding: 3px 6px;
}
.btn-wrapper button:hover{
    background:#265efe;
}